.subs-page{
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
}

.close-icon{
    float:right;
}

.subscribe-fill-button{
    background-color: #3fab34;
    color: whitesmoke;
}

.subs-page.content.content-md > .scroll-content{
    margin-top: 0px;
}